.contact-page {
  min-height: 90vh;
  padding: 5rem 10rem;
  color: #353535;
  background: #004d4d;

  @media (max-width: 1300px) {
    padding: 2rem;
    font-size: 1rem;
  }

  .contact-container {
    .consultation-section {
      max-width: 800px;
      margin: 0 auto;
      text-align: center;

      h2 {
        margin-bottom: 1rem;
        color: #24bace;
        font-size: 2.5rem;
        font-family: "Lobster", cursive;
      }

      p {
        margin-bottom: 3rem;
        color: #ccc;
        line-height: 1.6;
        font-style: italic;
      }
    }
  }
}
